[ssh_connection]
ssh_args = -o "ProxyCommand ssh -q -i {{ cmi_compute_node_key }} -o StrictHostKeyChecking=no root@{{ cmi_compute_node }} nc {{ cmi_mgmt_ip }} 22"
scp_if_ssh = True
pipelining = True
[defaults]
host_key_checking = False
